name: crypto_pro_flutter_example
description: "Demonstrates how to use the crypto_pro_flutter_example plugin."
publish_to: "none"

environment:
  sdk: ">=3.2.3 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  crypto_pro_flutter:
    path: ../
  cupertino_icons: ^1.0.2
  file_picker: ^9.0.0
  path_provider: ^2.1.5

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
